@model IEnumerable<ShopOnline.Models.Order>

@{
    ViewBag.Title = "Order_Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ZS1kj6">
    <a class="_2sowby" href="/Cart/Order_Tracking"><span class="_2pSH8O">Chờ xác nhận</span></a>
    <a class="_2sowby" href="/Cart/Order_Tracking1"><span class="_2pSH8O">Đã xác nhận</span></a>
    <a class="_2sowby _23VQQX" href="/Cart/Order_Tracking2"><span class="_2pSH8O">Đang giao</span></a>
    <a class="_2sowby" href="/Cart/Order_Tracking3"><span class="_2pSH8O">Đã giao</span></a>
    @*<span class="_2pSH8O">Đã Hủy</span></a>*@
</div>
    <table class="table">
        <tr>
            <th>
                TranspotID
            </th>
            <th>
                Status
            </th>
            <th>
                Date Order
            </th>
            <th>
                Payment
            </th>
            <th>
                Detail
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill.Status)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })*@
                </td>
            </tr>
        }

    </table>

<style>
    .ZS1kj6 {
        width: 100%;
        margin-bottom: 12px;
        display: flex;
        overflow: hidden;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10;
        background: #fff;
    }

    ._2sowby {
        padding: 12px 35px;
        font-size: 16px;
        text-align: center;
        color: #b200ff;
        background: #fff;
    }
</style>
