@model IEnumerable<ShopOnline.Models.CategoryProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddCategoryProduct") 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
